<div class="card" style="width: 40rem;">
  {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted"><small>{{ post.pub_date|date:"d E Y" }} | {% if post.location %}{{ post.location.name }}{% else %}Планета Земля{% endif %}<br>
    От автора @{{ post.author.username }} в категории {% include "includes/category_link.html" %}</small></h6>
    <p class="card-text">{{ post.text|truncatewords:10 }}</p>
    <a href="{% url 'blog:post_detail' post.id %}" class="card-link">Читать полный текст</a>
    <p>({{ post.comment_count }})</p>
  </div>
</div>