<article>
  {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
  {% endif %}
  <h2>{{ post.title }}</h2>
  <ul>
    <li>
      {% if post.location %}
        Место: {{ post.location.name }}
      {% else %}
        Место: Планета Земля
      {% endif %}
    </li>
    <li>
      Дата: {{ post.pub_date|date:"d E Y" }}
    </li>
    <li>
      Категория: <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category.title }}</a>
    </li>
  </ul>
  <p>({{ post.comment_count }})</p>
  {% with request.resolver_match.view_name as view_name %}
    {% if view_name == 'blog:index' %}
      <p>
        {{ post.text|linebreaksbr|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
    {% else %}
      <p>
        {{ post.text|linebreaksbr }}
      </p>
    {% endif %}
  {% endwith %}
</article>